<div class="header">
    <a href="/" class="header__logo">NURA</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="home_nav">Home</a>
            </li>
            <li>
                <a href="/about" class="forum_nav">Forum</a>
            </li>
            <li>
                <a href="/" class="contact_nav">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="search__btn" aria-expanded="false">Search<img src="/img/loupe.png" alt="s" style="height: 12px; width: 12px;"></button>
    </div>
</div>